{{>partials/header}}
<section class="title-main">
    <div class="title-main-image" style="background-image: url({{header}});">
        <div class="title-main-overlay">
            <div class="title-main-text">
                <h1>{{title_main.title}}</h1>
                <span>{{title_main.subtitle}}</span>
            </div>
        </div>
    </div>
</section>
<section class="main-description">
    <div class="container">
        <div class="row">
            <div class="main-description-text">
                {{{main_description}}}
            </div>
        </div>
    </div>
</section>
<section class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2>Team</h2>
            </div>
            {{#members}}
            <div class="col-sm-12 col-md-3 team-member">
                <img class="team-member-image" src="{{image}}">
                <h3>{{name}}</h3>
            </div>
            {{/members}}
        </div>
    </div>
</section>
<section class="concepts">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2>Concepten</h2>
            </div>
            {{#concepts}}
            <div class="col-sm-12 col-md-12 concept">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="slideshow-container">
                            {{#slideshow}}
                            <div class="mySlides{{../slide}}">
                                <img src="{{full_image_url}}">
                            </div>
                            {{/slideshow}}
                            <a class="prev" onclick="plusSlides(-1, {{index}})">&#10094;</a>
                            <a class="next" onclick="plusSlides(1, {{index}})">&#10095;</a>
                            </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <h3>{{name}}</h3>
                        <div class="concept-text">
                            {{{content}}}
                        </div>
                    </div>
                </div>
            </div>
            {{/concepts}}
        </div>
    </div>
</section>
{{>partials/footer}}