        </div>
        {{#if is_live}}
        {{else}}
        <footer>
            <div class="container">
                <div class="row footer-items">
                    <div class="col-4">
                        <h3>Uitzendingen</h3>
                        <ul>
                            {{#footer-menu1}}
                            <li><a href="{{url}}">{{title}}</a></li>
                            {{/footer-menu1}}
                        </ul>
                    </div>
                    <div class="col-4">
                        <h3>Over de SLOS</h3>
                        <ul>
                            {{#footer-menu2}}
                            <li><a href="{{url}}">{{title}}</a></li>
                            {{/footer-menu2}}
                        </ul>
                    </div>
                    <div class="col-4">
                        <h3>Contact</h3>
                        <ul>
                            <li><span>{{option_address.street}} {{option_address.street_number}}</span></li>
                            <li><span>{{option_address.postal_code}}</span></li>
                            <li><span>{{option_address.city}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center footer-copyright"><p>&copy; Stichting Lokale Omroep Steenbergen<p></div>
        </footer>
        {{/if}}
        {{{wp_footer}}}
    </body>
</html>